<div class="container">
<h1>View Student</h1>
<p>
  <strong>First Name:</strong>
  <%= @student.first_name %>
</p>
 
<p>
  <strong>Surname:</strong>
  <%= @student.surname %>
</p>

<p>
  <strong>Groups:</strong>
    <% @student.groups.each do |group| %>
      <p><%= group.name %></p>
    <% end %>
 </p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>

</div>